body {
    background-color: beige;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 20px;
    background-image: url('fondo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#listaArticulos {
  text-align: left;
}
#buscador {
  width: 100%;       /* para que el input tome todo el ancho del div */
  max-width: 400px;  /* opcional, para limitarlo a un ancho máximo */
  text-align: left;  /* alineación del texto dentro del input */
  box-sizing: border-box; /* para que el padding no aumente el ancho */
  padding: 8px;      /* un poco de espacio interno */
}


.filtro {
  display: none;
}


h1 {
    font-size: 5.0rem;
    margin-bottom: 20px;
}



