body {
    background-color: beige;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 20px;
    background-image: url('fondo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.filtro {
  display: none;
}


h1 {
    font-size: 5.0rem;
    margin-bottom: 20px;
}



